p {
  color: black;
  margin: auto;
  text-align: left;
  padding: 5px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif}
  
h2 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: auto;
  font-size: 45px;
  padding: 2px;
  color: #e97406; 
}


h3 {
color: #e97406;
font-family: Times;
text-align: left;
font-size: 40px;
}

h4 {
font-size: 25px;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
padding: 10px;
}


img {
border-radius: 50px;}

.background_one {
padding: 25px;
  }

.background {
  background-color: #F7E5D4;
  }

body {
  background-color: #F7E5D4;
  }

.background-footer {
background-color: #000000;
}
