p {
    color: black;
    margin: auto;
    text-align: justify;
    padding: 5px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif}
    
h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: auto;
    font-size: 60px;
    padding: 2px;
    color: #f1b277;
  }

h3 {
  color: #f1b277;
  font-family: Times;
  text-align: center;
  font-size: 45px;
  }

h4 {
  font-size: 25px;
  text-align: center;
  font-family: Times;
  color: #f1b277;
}


img {
  border-radius: 50px;}

.background_one {
  padding: 25px;
    }

.background {
    background-color: #F7E5D4;
    }


.background-footer {
  background-color: #000000;
  }

.card {transition: all 0.3s;
    padding: 25px;}

.card:hover {transform: scale(1.02);}

@font-face {
  font-family: my_font;
  src: url(PlayfairDisplaySC-Italic.ttf);
}

