{%extends "base_why.html"%}
{% load static %}  
{%block content%}
<div class = "row">
    <div class="col-md">
        <br>
        <h2>Our Values<h2>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-5">
        <div style="display:flex;justify-content:center">
        <img class = "img-fluid" src={% static 'why_us/my_images/v3.png' %} alt="whyUs1" width="500" height="500" >
        </div>
    </div>
    <div class="col-md-7 text-center">
        <br>
        <h3>Your Lounge</h3>
        <p style="padding: 50px;"> A lounge is a place where you can sit down and relax. You can do the same in Your Language Lounge. Here, one of our main goals is to provide a safe, enjoyable and friendly atmosphere where everyone can speak comfortably. 
            As we believe that one of the best ways to learn a language is having many opportunities to speak, in Your Language Lounge, our qualified teachers make sure that you will study and speak the language you want through lots of highly engaging and communicative activities. <p>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-7">
        <h3 >Our Care</h3>
        <p style="padding: 50px;">Because we truly care about your progress, we apply a unique tracking system to our teaching program. A Two-Sided Report (TSR), proven effective in enhancing learning, will be provided every two weeks. 
            TSR includes not only observations, recommendations and action plans from our experienced teachers but also questions helping your self-reflection on your own studying and progress. With TSR, your language learning will be motivated and more effective. <p>
    </div>

    <div class="col-md-5">
        <div style="display:flex;justify-content:center">
        <img class = "img-fluid" src={% static 'why_us/my_images/v1.png' %} alt="whyUs2" width="400" height="400" >
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <div style="display:flex;justify-content:center">
        <img class = "img-fluid" src={% static 'why_us/my_images/v2.png' %} alt="whyUs3" width="400" height="400" >
        </div>
    </div>
    <div class="col-md-7 text-center">
        <br>
        <h3>Your Choice</h3>
        <p style="padding: 50px;">Our teachers also care about your needs, so Your Language Lounge offers many course options for a reasonable fee. 
            Especially in the Customised course, you can tell us about the length of the course, the number of sessions, or you can choose who to study with. Find a course you like and try the first class for free! <p>
    </div>
</div>
{%endblock%}
