{% extends "base_auth.html" %}
{% load static %} 
{% block user%}
<h1> Welcome, {{username}}! </h1>
<h3>We are happy to have you here.<h3>
<a href="{% url 'homepage:homepage'%}" class="btn btn-info" role="button" style="font-family: Times; padding: 5px; font-size:17px;" 
>Come back to the main page</a>

<a href="{% url 'your_library:your_library'%}" class="btn btn-info" role="button" style="font-family: Times; padding: 5px; font-size:17px;" 
>Go to Learning English Materials section</a>

<a href="{% url 'user_auth:logout_user'%}" class="btn btn-warning" role="button" style="font-family: Times; padding: 5px; font-size:17px;" 
>Logout</a>


{%endblock%}